<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3">
            <p class="text-info">Profile created on: {{ dbUser.createdAt }} </p>
        </div>
    </div>
    <div class="mx-auto">
        <div class="border border-info shadow-lg p-3 mb-5 bg-white rounded">
            <div class="row justify-content-center">
                <!-- Image -->
                <img src="{{ dbUser.imgurl }}" class="rounded-circle ">
            </div>
            <div class="button" style="float:right;">
                <a href="#" class="btn btn-outline-success btn-sm">Create Event</a>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">{{ dbUser.username }}</h3>
            </div>
            <panel class="body">
                <div class="row">
                    <div class="col-md-9 col-lg-12">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>First-name:</td>
                                    <td>{{ dbUser.firstname }}</td>
                                </tr>
                                <tr>
                                    <td>Last-name:</td>
                                    <td>{{ dbUser.lastname }}</td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </panel>
        </div>
        <br>
        <h3>Your upcoming events:</h3>
        <div class="card p-3 mb-2 bg-primary text-black " style="width: 18rem;">
            <button type="button" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
                 <div class="card-body">
                <h5 class="card-title">Event title: {{ this.title }}</h5>
                <p class="card-text">Description: {{ this.body }}</p>
            </div>
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150" class="card-img-top "></a>
       
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category: {{ this.category }}</li>
                <li class="list-group-item">Location: {{this.location }}</li>
                <li class="list-group-item">Time: {{ this.time }}</li>
                <li class="list-group-item">Host: {{ this.host }}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link text-white">Card link</a>
            </div>
        </div>
        <br>
        <h3>Created events:</h3>
        <div class="card p-3 mb-2 bg-secondary text-black" style="width: 18rem;">
            <button type="button" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
                 <div class="card-body">
                <h5 class="card-title">Event title: {{ this.title }}</h5>
                <p class="card-text">Description: {{ this.body }}</p>
            </div>
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150" class="card-img-top "></a>
       
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category: {{ this.category }}</li>
                <li class="list-group-item">Location: {{this.location }}</li>
                <li class="list-group-item">Time: {{ this.time }}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link text-white">Card link</a>
            </div>
        </div>
    </div>
</div>





{{!--
<div class="jumbotron">

    <h5 class="card-title ">Welcome: {{dbUser.username}}</h5>
    <p class="card-text">Your password: {{dbUser.password}}</p>
    <p class="card-text">First name: {{ dbUser.firstname }}</p>
    <p class="card-text">Last name: {{ dbUser.lastname }}</p>
    <p class="card-text">You're image url: {{ dbUser.imgurl }}</p>


</div> --}}